/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

/* This takes away the browsers marging/padddning */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The hole page*/
body {
    min-height: 100vh;
    font-family: "poppins", sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* Header */
header {
    width: 100%;
    background-color: rgb(55 119 193);
    color: white;
    font-size: large;
    text-align: center;
}

#logo {
    padding-bottom: 5px;
}

.yellow {
    color: gold;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    padding-top: 5px;
}

nav ul {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

nav {
    border-top: solid gold 1px;
    border-bottom: solid gold 1px;
}

#active {
    border-bottom: solid 2px gold;
}

/* Conten-About Sweden*/
main {
    flex: 1 0 auto;
}

#about {
    padding: 5%;
    background: url(../images/hero-image.jpg) no-repeat center/cover;
    width: 100%;
}

#about div {
    margin-top: 5%;
    border: solid 2px rgb(55 119 193);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

div ul {
    list-style-type: none;
}

/* Footer*/
footer {
    background-color: rgb(55, 119, 193);
    border-top: solid gold 1px;
    border-bottom: solid gold 1px;
}

#social-media {
    background-color: rgb(55, 119, 193);
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;

}

#social-media i {
    font-size: 160%;
    color: white;
    padding: 5px;
}

#text-footer {
    color: white;
    text-align: center;
    padding: 2%;
}

/* contact me */
#contact-bg {
    background: url(../images/contact.jpg) no-repeat center center/cover;
    height: 100vh;
}

#contact-head {
    background-color: rgba(55, 119, 193, 0.8);
    width: 80%;
    color: white;
    text-align: center;
    margin-left: 5%;
    padding: 5%;
}

#contact-me-form {
    background-color: rgba(55, 119, 193, 0.8);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5%;
    color: white;
    padding: 5%;
}

button {
    margin-top: 5%;
    color: rgb(38, 84, 169);
    padding: 3px;
}

/*Cities*/
#cities {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(55, 119, 193);
    color: white;
}

#uppsala-img {
    background: url(../images/uppsala.jpg) no-repeat center center/cover;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    margin: 5%;
    border: gold solid 2px;
}

#stockholm-img {
    background: url(../images/stockholm.jpg) no-repeat center center/cover;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    margin: 5%;
    border: gold solid 2px;
}

#goteborg-img {
    background: url(../images/goteborg.jpg) no-repeat center center/cover;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    margin: 5%;
    border: gold solid 2px;
}

#umea-img {
    background: url(../images/umea.jpg) no-repeat center center/cover;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    margin: 5%;
    border: gold solid 2px;
}

/*Tablets*/
@media screen and (min-width: 768px) {
    #contact-me-form {
        width: 60%;
    }

    #contact-head {
        width: 60%;
    }

    .cities-tablets-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .cities-tablets-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/*Laptops*/
@media screen and (min-width: 1200px) {
    #cities {
        padding: 5%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav {
        text-size-adjust: 120%;
    }

    #umea-img {
        height: 30vw;
        width: 30vw;
    }

    #goteborg-img {
        height: 30vw;
        width: 30vw;
    }

    #stockholm-img {
        height: 30vw;
        width: 30vw;
    }

    #uppsala-img {
        height: 30vw;
        width: 30vw;
    }
}