/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

/* The hole page*/
body {
    font-family: "poppins", sans-serif;
    color: black;
}

/* Header */
header {
    height: 65px;
    width: 100%;
    background-color: cornflowerblue;
    color: gold;
    font-size: large;
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
}

nav ul {
    height: 40px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: baseline;
    background-color: white;
    color: black;
}