/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

/* This takes away the browsers marging/padddning */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* The hole page*/
body {
    min-height: 100vh;
    font-family: "poppins", sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    

}

/* Header */
header {
    width: 100%;
    background-color: rgb(38, 84, 169);
    color: gold;
    font-size: large;
    display: row;
    text-align: center;
}

header div {
    margin-right: 25px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    
}

#menu {
    font-size: 100%;
    list-style-type: none;
    padding-top: 5px;
    
}

nav ul {
    height: 40px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    background-color: white;
    
}

header a {
    text-decoration: none;
    color: rgb(38, 84, 169);
    font-size: small;
    
}

nav {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

/* Conten-About Sweden*/
main {
    display: flex;
    flex: 1 0 auto;     
}

/* Footer*/
footer {
    background-color: white;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}
#social-media {
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#social-media i {
    font-size: medium;
    color: rgb(38, 84, 169);
    padding: 5px;
}